@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;1,500&display=swap');

body, html, #root, .container {
  --jet: #343330ff;
  --rifle-green: #45462aff;
  --brown: #7e5920ff;
  --fulvous: #dc851fff;
  --yellow-orange: #ffa737ff;
  background-color: var(--fulvous)
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'urbanist', sans-serif;
  margin:20px;
}

header {
  padding: 20px;
}

form {
  background-color: var(--rifle-green);
  color:white;
  padding: 10px;
  border-radius: 15px;
  border: 1px dashed white;
}

input {
  border: 1px dashed white;
  border-bottom: 1px dashed black;
  font-family: 'DM Mono', monospace;
  font-style: italic;
}

button {
  background-color: white;
  font-family: 'DM Mono', monospace;
  border: 1px dashed white;
  border-bottom: 1px dashed black;
  cursor: pointer;
  margin:5px;
}

.logout {
  border: none;
  font-family: 'urbanist', sans-serif;
  background-color: var(--fulvous);
  color:white;

}

a {
  margin: 15px;
  text-decoration: none;
}

.active {
  background-color:var(--rifle-green);
  border-radius:  5px;
  color:white;
  padding:10px;
}

label {
  display: block;
  font-family: 'DM Mono', monospace;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  border: 1px dashed white;
}

.todo:hover {
  background-color: white;
  color: black;
}

.completed {
  background-color: steelblue;
  text-decoration: line-through;
}

.incomplete {
  color: white;
  background-color: var(--yellow-orange);
}